Project: ExoHabitAI – Week 1 (Data Collection & Understanding)

In Week 1, the goal is to understand exoplanet habitability concepts and explore the dataset without applying machine learning.

The dataset used is the NASA Exoplanet Archive – Planetary Systems dataset, cleaned to contain exactly 40,000 records.

In [11]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/exoplanet_clean_40k.csv')

df.head()

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,...,9/19/2023,2023-08,9/19/2023,2,1,2,0,0,0,0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,5/14/2014,2008-01,5/14/2014,2,1,2,0,0,0,0
2,3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,7/23/2014,2011-08,7/23/2014,2,1,2,0,0,0,0
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,0,...,4/25/2018,2009-10,5/14/2014,0,1,1,0,0,0,0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,...,9/4/2018,2017-03,9/6/2018,0,1,1,0,0,0,0

In [12]:
df.shape

(4001, 289)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4001 entries, 0 to 4000
Columns: 289 entries, rowid to pl_ndispec
dtypes: float64(235), int64(26), object(28)
memory usage: 8.8+ MB

In [14]:
df.columns

Index(['rowid', 'pl_name', 'hostname', 'pl_letter', 'hd_name', 'hip_name',
       'tic_id', 'gaia_dr2_id', 'gaia_dr3_id', 'default_flag',
       ...
       'rowupdate', 'pl_pubdate', 'releasedate', 'pl_nnotes', 'st_nphot',
       'st_nrvc', 'st_nspec', 'pl_nespec', 'pl_ntranspec', 'pl_ndispec'],
      dtype='object', length=289)

In [15]:
df.sample(5)

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
1075,1076,HAT-P-18 b,HAT-P-18,b,NaN,NaN,TIC 21744120,Gaia DR2 1334573817793362560,Gaia DR3 1334573817793362560,0,...,7/24/2017,2017-07,7/27/2017,1,0,1,0,0,5,0
1796,1797,HATS-6 b,HATS-6,b,NaN,NaN,TIC 33521996,Gaia DR2 2966680597368750720,Gaia DR3 2966680597368750720,1,...,5/14/2015,2015-05,5/14/2015,0,0,0,0,0,0,0
3942,3943,HD 94771 b,HD 94771,b,HD 94771,HIP 53437,TIC 48974071,Gaia DR2 5401358469249455104,Gaia DR3 5401358469249455104,1,...,6/27/2023,2023-06,6/27/2023,0,0,0,0,0,0,0
2641,2642,HD 177830 b,HD 177830,b,HD 177830,HIP 93746,TIC 265052133,Gaia DR2 2035963417721248128,Gaia DR3 2035963417721248128,0,...,9/20/2021,2021-07,9/20/2021,1,1,2,6,0,0,0
1707,1708,HATS-41 b,HATS-41,b,NaN,NaN,TIC 53750200,Gaia DR2 2919151080524391552,Gaia DR3 2919151080524391552,0,...,10/18/2022,2022-04,10/18/2022,0,0,0,0,0,0,0

In [16]:
df.columns.tolist()

['rowid',
 'pl_name',
 'hostname',
 'pl_letter',
 'hd_name',
 'hip_name',
 'tic_id',
 'gaia_dr2_id',
 'gaia_dr3_id',
 'default_flag',
 'sy_snum',
 'sy_pnum',
 'sy_mnum',
 'cb_flag',
 'discoverymethod',
 'disc_year',
 'disc_refname',
 'disc_pubdate',
 'disc_locale',
 'disc_facility',
 'disc_telescope',
 'disc_instrument',
 'rv_flag',
 'pul_flag',
 'ptv_flag',
 'tran_flag',
 'ast_flag',
 'obm_flag',
 'micro_flag',
 'etv_flag',
 'ima_flag',
 'dkin_flag',
 'soltype',
 'pl_controv_flag',
 'pl_refname',
 'pl_orbper',
 'pl_orbpererr1',
 'pl_orbpererr2',
 'pl_orbperlim',
 'pl_orbsmax',
 'pl_orbsmaxerr1',
 'pl_orbsmaxerr2',
 'pl_orbsmaxlim',
 'pl_rade',
 'pl_radeerr1',
 'pl_radeerr2',
 'pl_radelim',
 'pl_radj',
 'pl_radjerr1',
 'pl_radjerr2',
 'pl_radjlim',
 'pl_masse',
 'pl_masseerr1',
 'pl_masseerr2',
 'pl_masselim',
 'pl_massj',
 'pl_massjerr1',
 'pl_massjerr2',
 'pl_massjlim',
 'pl_msinie',
 'pl_msinieerr1',
 'pl_msinieerr2',
 'pl_msinielim',
 'pl_msinij',
 'pl_msinijerr1',
 'pl_msinijerr2',
 'pl_msinijlim',
 'pl_cmasse',
 'pl_cmasseerr1',
 'pl_cmasseerr2',
 'pl_cmasselim',
 'pl_cmassj',
 'pl_cmassjerr1',
 'pl_cmassjerr2',
 'pl_cmassjlim',
 'pl_bmasse',
 'pl_bmasseerr1',
 'pl_bmasseerr2',
 'pl_bmasselim',
 'pl_bmassj',
 'pl_bmassjerr1',
 'pl_bmassjerr2',
 'pl_bmassjlim',
 'pl_bmassprov',
 'pl_dens',
 'pl_denserr1',
 'pl_denserr2',
 'pl_denslim',
 'pl_orbeccen',
 'pl_orbeccenerr1',
 'pl_orbeccenerr2',
 'pl_orbeccenlim',
 'pl_insol',
 'pl_insolerr1',
 'pl_insolerr2',
 'pl_insollim',
 'pl_eqt',
 'pl_eqterr1',
 'pl_eqterr2',
 'pl_eqtlim',
 'pl_orbincl',
 'pl_orbinclerr1',
 'pl_orbinclerr2',
 'pl_orbincllim',
 'pl_tranmid',
 'pl_tranmiderr1',
 'pl_tranmiderr2',
 'pl_tranmidlim',
 'pl_tsystemref',
 'ttv_flag',
 'pl_imppar',
 'pl_impparerr1',
 'pl_impparerr2',
 'pl_impparlim',
 'pl_trandep',
 'pl_trandeperr1',
 'pl_trandeperr2',
 'pl_trandeplim',
 'pl_trandur',
 'pl_trandurerr1',
 'pl_trandurerr2',
 'pl_trandurlim',
 'pl_ratdor',
 'pl_ratdorerr1',
 'pl_ratdorerr2',
 'pl_ratdorlim',
 'pl_ratror',
 'pl_ratrorerr1',
 'pl_ratrorerr2',
 'pl_ratrorlim',
 'pl_occdep',
 'pl_occdeperr1',
 'pl_occdeperr2',
 'pl_occdeplim',
 'pl_orbtper',
 'pl_orbtpererr1',
 'pl_orbtpererr2',
 'pl_orbtperlim',
 'pl_orblper',
 'pl_orblpererr1',
 'pl_orblpererr2',
 'pl_orblperlim',
 'pl_rvamp',
 'pl_rvamperr1',
 'pl_rvamperr2',
 'pl_rvamplim',
 'pl_projobliq',
 'pl_projobliqerr1',
 'pl_projobliqerr2',
 'pl_projobliqlim',
 'pl_trueobliq',
 'pl_trueobliqerr1',
 'pl_trueobliqerr2',
 'pl_trueobliqlim',
 'st_refname',
 'st_spectype',
 'st_teff',
 'st_tefferr1',
 'st_tefferr2',
 'st_tefflim',
 'st_rad',
 'st_raderr1',
 'st_raderr2',
 'st_radlim',
 'st_mass',
 'st_masserr1',
 'st_masserr2',
 'st_masslim',
 'st_met',
 'st_meterr1',
 'st_meterr2',
 'st_metlim',
 'st_metratio',
 'st_lum',
 'st_lumerr1',
 'st_lumerr2',
 'st_lumlim',
 'st_logg',
 'st_loggerr1',
 'st_loggerr2',
 'st_logglim',
 'st_age',
 'st_ageerr1',
 'st_ageerr2',
 'st_agelim',
 'st_dens',
 'st_denserr1',
 'st_denserr2',
 'st_denslim',
 'st_vsin',
 'st_vsinerr1',
 'st_vsinerr2',
 'st_vsinlim',
 'st_rotp',
 'st_rotperr1',
 'st_rotperr2',
 'st_rotplim',
 'st_radv',
 'st_radverr1',
 'st_radverr2',
 'st_radvlim',
 'sy_refname',
 'rastr',
 'ra',
 'decstr',
 'dec',
 'glat',
 'glon',
 'elat',
 'elon',
 'sy_pm',
 'sy_pmerr1',
 'sy_pmerr2',
 'sy_pmra',
 'sy_pmraerr1',
 'sy_pmraerr2',
 'sy_pmdec',
 'sy_pmdecerr1',
 'sy_pmdecerr2',
 'sy_dist',
 'sy_disterr1',
 'sy_disterr2',
 'sy_plx',
 'sy_plxerr1',
 'sy_plxerr2',
 'sy_bmag',
 'sy_bmagerr1',
 'sy_bmagerr2',
 'sy_vmag',
 'sy_vmagerr1',
 'sy_vmagerr2',
 'sy_jmag',
 'sy_jmagerr1',
 'sy_jmagerr2',
 'sy_hmag',
 'sy_hmagerr1',
 'sy_hmagerr2',
 'sy_kmag',
 'sy_kmagerr1',
 'sy_kmagerr2',
 'sy_umag',
 'sy_umagerr1',
 'sy_umagerr2',
 'sy_gmag',
 'sy_gmagerr1',
 'sy_gmagerr2',
 'sy_rmag',
 'sy_rmagerr1',
 'sy_rmagerr2',
 'sy_imag',
 'sy_imagerr1',
 'sy_imagerr2',
 'sy_zmag',
 'sy_zmagerr1',
 'sy_zmagerr2',
 'sy_w1mag',
 'sy_w1magerr1',
 'sy_w1magerr2',
 'sy_w2mag',
 'sy_w2magerr1',
 'sy_w2magerr2',
 'sy_w3mag',
 'sy_w3magerr1',
 'sy_w3magerr2',
 'sy_w4mag',
 'sy_w4magerr1',
 'sy_w4magerr2',
 'sy_gaiamag',
 'sy_gaiamagerr1',
 'sy_gaiamagerr2',
 'sy_icmag',
 'sy_icmagerr1',
 'sy_icmagerr2',
 'sy_tmag',
 'sy_tmagerr1',
 'sy_tmagerr2',
 'sy_kepmag',
 'sy_kepmagerr1',
 'sy_kepmagerr2',
 'rowupdate',
 'pl_pubdate',
 'releasedate',
 'pl_nnotes',
 'st_nphot',
 'st_nrvc',
 'st_nspec',
 'pl_nespec',
 'pl_ntranspec',
 'pl_ndispec']

Key Feature Identification

Habitability depends on both planetary and host star properties.

Planetary features such as radius, mass, orbital period, and equilibrium temperature influence surface conditions.

Stellar features such as temperature, luminosity, and spectral type determine the energy received by the planet.

These features are therefore selected as the primary inputs for habitability analysis.

In [17]:
data_dictionary = {
    "pl_name": "Name of the exoplanet",
    "hostname": "Name of the host star",
    "pl_rade": "Planet radius (Earth radii)",
    "pl_masse": "Planet mass (Earth masses)",
    "pl_orbper": "Orbital period (days)",
    "pl_eqt": "Planet equilibrium temperature (K)",
    "pl_orbsmax": "Semi-major axis (AU)",
    "st_teff": "Host star effective temperature (K)",
    "st_lum": "Host star luminosity",
    "st_spectype": "Host star spectral type",
    "st_met": "Host star metallicity"
}

pd.DataFrame(data_dictionary.items(), columns=["Column Name", "Description"])

    Column Name                          Description
0       pl_name                Name of the exoplanet
1      hostname                Name of the host star
2       pl_rade          Planet radius (Earth radii)
3      pl_masse           Planet mass (Earth masses)
4     pl_orbper                Orbital period (days)
5        pl_eqt   Planet equilibrium temperature (K)
6    pl_orbsmax                 Semi-major axis (AU)
7       st_teff  Host star effective temperature (K)
8        st_lum                 Host star luminosity
9   st_spectype              Host star spectral type
10       st_met                Host star metallicity

In [18]:
df.describe().T.head(10)

,count,mean,std,min,25%,50%,75%,max
rowid,4001.0,2001.000000,1155.133542,1.0,1001.0,2001.0,3001.0,4001.0
default_flag,4001.0,0.327668,0.469422,0.0,0.0,0.0,1.0,1.0
sy_snum,4001.0,1.214946,0.480402,1.0,1.0,1.0,1.0,3.0
sy_pnum,4001.0,1.798550,1.299965,1.0,1.0,1.0,2.0,7.0
sy_mnum,4001.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
cb_flag,4001.0,0.003999,0.063119,0.0,0.0,0.0,0.0,1.0
disc_year,4001.0,2012.145214,6.961297,1995.0,2007.0,2011.0,2018.0,2025.0
rv_flag,4001.0,0.944514,0.228955,0.0,1.0,1.0,1.0,1.0
pul_flag,4001.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
ptv_flag,4001.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0

In [19]:
df.isnull().sum().sort_values(ascending=False).head(10)

sy_icmagerr1        4001
sy_icmag            4001
sy_icmagerr2        4001
sy_kepmagerr2       4001
sy_kepmagerr1       4001
pl_occdeperr2       3994
pl_occdeperr1       3994
pl_occdeplim        3993
pl_occdep           3993
pl_trueobliqerr2    3984
dtype: int64

Initial Observations

The dataset contains a wide range of planetary and stellar parameters.

Several important features such as planet mass and temperature contain missing values.

Most discovered exoplanets are gas giants, indicating a class imbalance in habitable candidates.

Stellar temperature and luminosity vary significantly across host stars.

These observations highlight the importance of data cleaning and feature engineering, which will be performed in Week 2.